:host {
    height: calc(100vh - 120px);
    display: block;
    position: relative;
}


.message{
    position: absolute;
    right: 0;
    top:-40px;
    padding: 20px;
    background-color: lightgreen;
    width: 270px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-270px);
    transition: 1s;
}
.message.show{
    transform: translateX(0px);
    opacity: 1;
}
.container-tovar {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px
}


.buy-button-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    right: 100px;
    bottom: 50px;
    background-color: #f1af62;
    padding: 15px;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.buy-button-container button {
    background-image: linear-gradient(to top, #febb5f, #fec66e, #fed07d, #feda8d, #ffe49d);
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 11px;
    margin: 3px 0;
    padding: 10px 13px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    
}

.buy-button-container strong {
    height: fit-content;
}
.clear-button-container{
     position: fixed;
     left:100px;
     bottom: 50px;
     
}
.clear-button-container button{
    background-image: gray;
    border-radius: 4px;
    border: none;
    color: #333;
    display: block;
    font-size: 11px;
    margin: 3px 0;
    padding: 10px 13px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 4px black;
    transition: 0.6s;
}
.clear-button-container button:hover{
   transform: scale(1.03);
   background-color: rgba(243, 120, 120, 0.699);
}