<h1 class="name-cart">Корзина</h1>

<p class="message" [ngClass]="{'show':show}">
    Покупка успішно оформленна!
</p>

<div class="confirmation-backdrop" *ngIf="Showconfirmation">

    <div class="confirmation">
        <h1>Введіть контакти</h1>
        <p class="close" (click)="closeConfirmation()">×</p>
        <form class="form-order" [formGroup]="dataForm">
            <label for="name">Введіть ПІБ:</label>
            <input type="text" id="name" class="name" formControlName="name">
            <label for="number">Введіть номер телефону:</label>
            <input type="text" id="number" class="number" formControlName="number">
            <input type="button" value="Оформити покупку" class="send" (click)="buyCard()">
        </form>
        <p class="error" *ngIf="!dataForm.valid">Щось не так</p>
    </div>
</div>

<div class="container-tovar" *ngIf="cardService.GetProduct.length >= 1; else cardEmptry">
    <app-card-tovar *ngFor="let item of cardService.GetProduct" [price]="item.price" [name]="item.name" [src]="item.src"
        [count]="item.quantity"></app-card-tovar>
</div>
<ng-template #cardEmptry>
    <div class="container-empty-cart">
        <h1>Твоя корзина порожня</h1>
        <div class="cart-svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
        </div>
    </div>
</ng-template>

<div class="clear-button-container">
    <button (click)="clearCard()">Очистить Корзину</button>
</div>


<div class="buy-button-container">
    <strong>{{cardService.GetTotalPrice()! | currencySwitcher:Currency}}</strong>
    <button (click)="confirmation()">Оформить покупку</button>
</div>