.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
input{
    width: 540.91px;
    height: 36px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 14px;
}
button{
    background-color: var(--accent-color-orange);
    background-image: linear-gradient(#fea94a, #ff6808);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 27px;
    height: 36px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 1000ms;
}
button:hover{
   background-image: linear-gradient(#ff961d, #ff6708);
}