.tovar {
    display: flex;
    border: 2px solid var(--opacity-color-gray);
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    height: 203px;
}

.img-count {
    display: flex;
    flex-direction: column;
}

.img-tovar {
    width: 150px;
    height: 150px;
}

.img-tovar img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.count-tovar {
    display: flex;
    border-radius: 20px;
    border: 1px solid gray;
    margin-top: 10px;
    justify-content: space-between;
    height: 30px;
}

.button-minus,
.button-plus {
    color: gray;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    color: var(--accent-color-blue)
}

.count-tovar span {
    display: flex;
    align-items: center;
}

.button-plus {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button-minus {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.name-cost-delete {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name-cost-delete h1,
.name-cost-delete h2 {
    margin: 0;
    color: var(--accent-color-blue)
}

.name-cost h1 {
    font-size: 27px;
    display: -webkit-box;
    -webkit-line-clamp: 3;

    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color:var(--accent-text-color-blue);
}

.name-cost-delete h1:hover {
    cursor: pointer;
    color: var(--accent-color-orange)
}

.name-cost-delete h2 {
    color: var(--accent-color-orange)
}

.name-cost {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delete-button {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.delete-button svg:hover {
    color: red;
    cursor: pointer;
}
@media (max-width:420px) {
    .img-count{
        justify-content: center;
    }
    .img-tovar{
        width: 100px;
        height: 100px;
    }
    .name-cost h1{
        font-size: 20px;
    }
}
