<div class="profile-page" *ngIf="userInAccount">
  <section class="profile-header">
    <div class="avatar-container">
      <img class="avatar" [src]="user.profileImg" alt="User avatar">
    </div>
    <div class="user-details">
      <h1>{{user.name}}</h1>
      <p>{{user.email}}</p>
    </div>
  </section>

  <section class="profile-sections">
    <div class="profile-card">
      <h3>Історія замовленнь</h3>
      <p *ngIf="!user.OrderHistory[0]; else button">Ви ще нічого не замовляли</p>
      <ng-template #button>
        <button class="moveToHistory" (click)="openOrder()">Перейти до історії замовлень</button>
      </ng-template>
    </div>

    <div class="profile-card">
      <h3>Налаштування</h3>
      <button class="edit-btn" (click)="openSettingPage()">Редагувати профіль</button>
    </div>

    <div class="profile-card">
      <h3>Адреса доставки</h3>
      <p>Не вказано</p>
    </div>
  </section>
</div>