
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 95px;
    background-color: var(--accent-color-blue);
}

.header-container{
    height: 62px;
    display: flex;
    justify-content: center;
}
.none{
    display: none;
}
.show{
    display: flex;
}
