.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 15px;
    padding: 0px 20px;
    /* height: auto; */
    min-height: 95px;
    background-color: var(--accent-color-blue);
    box-sizing: border-box;
  }
  
  @media (max-width: 600px) {
    .container {
        flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
    }
  }
  
