
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 95px;
    background-color: var(--accent-color-blue);
}

.header-container{
    height: 62px;
    display: flex;
    justify-content: center;
}
.none{
    display: none;
}
.show{
    display: flex;
}

@media (max-width: 1285px){
    .container{
        gap: 20px;
    }
}

@media (max-width: 1100px){
    .header-container, app-change-currency, app-app-toggle-theme, app-basket, app-singin-admin, app-sing-in{
        display: none;
    }
}