:host{
    display: block;
    height: 50vh;
    
}

#resetForm {
  background-color: var(--form-bg-color);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Proxima Soft", sans-serif;
}

#resetForm label {
  color: var(--info-text-color);
  font-weight: 600;
}

#resetForm input[type="text"], input[type="email"] {
  padding: 12px 16px;
  border: 1px solid var(--accent-color-span);
  border-radius: 8px;
  background-color: var(--model-contanier-bg);
  color: var(--text-color);
  font-size: 16px;
  transition: border-color 0.3s;
}

#resetForm input[type="text"]:focus, input[type="email"]:focus {
  border-color: var(--accent-color-orange);
  outline: none;
}

#resetForm button {
  padding: 12px 20px;
  background-color: var(--accent-color-orange);
  color: var(--button-text-color, white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#resetForm button:hover {
  background-color: var(--acent-color-orange-hover);
}
.ng-invalid{
    border: 1px solid red !important;
}