<app-message [message]="messageTextGreen" [showCommentR]="showEror"></app-message>
<app-message [message]="messageTextGreen" [showCommentG]="showSucces"></app-message>

<div class="register-container">
  <form class="register-form" [formGroup]="registerForm">
    <h2>Реєстрація</h2>

    <label for="email">Пошта</label>
    <input type="email" id="email" name="email" placeholder="example@gmail.com" formControlName="email" #email>

    <label for="username">Ім’я користувача</label>
    <input type="text" id="username" name="username" placeholder="Ваше ім’я" formControlName="name" #name>

    <div class="password-container">
      <label for="password">Пароль</label>
      <input [type]="showPassword ? 'password' : 'text'" id="password" name="password" placeholder="Придумайте пароль"
        formControlName="password" #password>
      <img src="./eye-password-.svg" alt="" class="hide-icon" (click)="showPasswordMethod()">
    </div>
    <label for="confirm-password">Підтвердіть пароль</label>
    <input type="password" id="confirm-password" name="confirm-password" placeholder="Повторіть пароль"
      formControlName="confirmPassword">
    <div class="haveAccount">У вас уже є акаунт? <span class="LogIn" (click)="NavigateToLogin()">Увійти</span></div>

    <div class="error" [ngClass]="{'none':!showName}">Ім’я користувача зайнято</div>
    <div class="error" *ngIf="showNotEqualPassError">{{textNotEqualPassError}}</div>
    <div class="error" *ngIf="showEmail">{{showEmail}}</div>


    <button type="submit" class="btn-cta" (click)="register(name, password, email)">Зареєструватися</button>
  </form>
</div> 