
<div class="register-container">
  <form class="register-form" [formGroup]="registerForm">
    <h2>Реєстрація</h2>

    <label for="username">Ім’я користувача</label>
    <input type="text" id="username" name="username" placeholder="Ваше ім’я" formControlName="name" #name>


    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" placeholder="Придумайте пароль" formControlName="password" #password>

    <label for="confirm-password">Підтвердіть пароль</label>
    <input type="password" id="confirm-password" name="confirm-password" placeholder="Повторіть пароль" formControlName="confirmPassword">

    <div class="haveAccount">У вас уже є акаунт? <span class="LogIn" (click)="NavigateToLogin()">Увійти</span></div>

    <button type="submit" class="btn-cta" (click)="register(name, password)">Зареєструватися</button>
  </form>
</div>