
.container-sing {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: calc(100vh - 80px);
  
}

.login-form {
  background: var(--bg-color);
  color: #f5f5f5;
  width: 360px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 7px 20px var(--text-color);
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color:var(--text-color);
  text-align: center;
}

.login-form label {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 0.95rem;
  color: var(--color-text);
}

.login-form input {
  height: 44px;
  padding: 0 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.login-form input:focus {
  outline: none;
  border-color: var(--accent-color-orange);
  box-shadow: 0 0 4px rgba(244, 128, 32, 0.4);
}

.btn-cta {
  margin-top: 24px;
  padding: 12px 0;
  font-size: 1rem;
  color: #fff;
  background-color: var(--accent-color-orange);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.haventAccount {
  margin-top: 15px;
  color:var(--text-color)
}

.Register {
  color: #2c509a;
  cursor: pointer;
}

.btn-cta:hover {
  background-color: var(--acent-color-orange-hover);
}

.btn-cta:active {
  transform: scale(0.98);
}

.ng-invalid:not(form) {
  border: 1px solid rgb(255, 103, 103) !important;
}

.ng-valid:not(form) {
  border: 1px solid rgb(151, 255, 103) !important;

}
.none{
  display: none;
}
.error{
  margin: 0;
  margin-top: 10px;
}