<div class="mm-cont-on">
    <div class="main-container-list">
        <h1 class="high-text-ctga">Каталог товарів</h1>
    </div>

    <div class="item-list-cont" (click)="NavigateToPage($event)">

        <!-- ! Line 1 -->
        <div>
            <!-- ! Phone -->
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Gadgets/iphone-svg.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Зв'язок і гаджети</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span class="cl-hov-or">Телефон</span>
                            ,
                            <span>Чохли</span>
                            ,
                            <span>Смарт годинники</span>
                            ,
                            <span class="cl-hov-or">Планшет</span>
                            ,
                            <span>Приставки</span>
                            ,
                            <span>Powerbank</span>
                            ,
                            <span>Зарядки</span>
                            ,
                            <span>Action камери</span>
                            ,
                            <span>Навушники</span>
                            ,
                            <span>Квадрокоптери (дрони)</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>
    
            <!--! Comp Tech -->
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Computers/Pc.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Комп'ютерна техніка</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Ноутбуки</span>
                            ,
                            <span class="cl-hov-or">Планшет</span>
                            ,
                            <span>Монітори</span>
                            ,
                            <span>ПК</span>
                            ,
                            <span>Комплектуючі</span>
                            ,
                            <span>Приставки</span>
                            ,
                            <span>Wi-Fi</span>
                            ,
                            <span>Клавіатури</span>
                            ,
                            <span>Друк і поліграфія</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>
    
            <!-- ! Ofice and Cancelation-->
    
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/TV/Projectors.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Офіс і канцелярія</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>БФП</span>
                            ,
                            <span>Принтери</span>
                            ,
                            <span>Катриджі</span>
                            ,
                            <span>Папір</span>
                            ,
                            <span>Проєктори</span>
                            ,
                            <span>3D-принтери</span>
                            ,
                            <span>Знищувачі</span>
                            ,
                            <span>Сейфи</span>
                            ,
                            <span>Крісла</span>
                            ,
                            <span>Канцелярія</span>
                            ,
                            <span>ПО</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>
    
            <!-- ! Photo and video -->
    
            <div style="width: 300px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Photo/Cameras.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Фото і відеозйомка</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Фотоапарати</span>
                            ,
                            <span>Об'єктиви</span>
                            ,
                            <span>Action камери</span>
                            ,
                            <span>Стедіками (ручні стабілізатори)</span>
                            ,
                            <span>Карти пам'яті</span>
                            ,
                            <span>Штативи</span>
                            ,
                            <span>Акумулятори й батарейки</span>
                            ,
                            <span>Студійне обладнення</span>
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ! Line 2 -->
        <div>
            <!-- ! TV  -->
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/TV/Tv.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Tv відео</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span class="cl-hov-or">Телевізор</span>
                            ,
                            <span>Монітори</span>
                            ,
                            <span>Приставки</span>
                            ,
                            <span>Підставки</span>
                            ,
                            <span>Кріплення</span>
                            ,
                            <span>Медіаплеєри і ТВ тюнери</span>
                            ,
                            <span>Проєктори</span>
                            ,
                            <span>Саундбари</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>

             <!-- ! Audio Tech -->
             <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Audio/head-set.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or"> Аудіо техніка</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Навушники</span>
                            ,
                            <span>Гарнітури</span>
                            ,
                            <span>Портативні колонки</span>
                            ,
                            <span>Аудіосистеми</span>
                            ,
                            <span>Колонки</span>
                            ,
                            <span>Акустика</span>
                            ,
                            <span>Hi-Fi і Hi-End</span>
                            ,
                            <span>Кабелі</span>
                            ,
                            <span>Музичні інстурменти</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>

            <!-- ! Pobut tech -->

            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Home-technik/washingCar.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Побутова техніка</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Вбудована техніка</span>
                            ,
                            <span>Мала побутова техніка</span>
                            ,
                            <span>Пральні машини</span>
                            ,
                            <span class="cl-hov-or">Холодільник</span>
                            ,
                            <span>Плити</span>
                            ,
                            <span>Витяжка</span>
                            ,
                            <span>Духовка</span>
                            ,
                            <span>Пилососи</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>

            <!-- ! Small Pobut tech -->
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Home-technik/Small-build.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Мала побутова техніка</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Кавоварки й кавомашини</span>
                            ,
                            <span>Електрочайники</span>
                            ,
                            <span>Комбайни</span>
                            ,
                            <span>Міксери й блендери</span>
                            ,
                            <span>М'ясорубки</span>
                            ,
                            <span>Соковитискачі</span>
                            ,
                            <span>Хлібопічки</span>
                            ,
                            <span>Мультиварки</span>
                            ,
                            <span>Фени</span>
                            ...
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- ! Line 3 -->

        <div>

            <!-- ! Climat -->
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Climat/air-conditioner.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Клімат, опалення та водопостачання</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Кондеціонери</span>
                            ,
                            <span>Вентилятори</span>
                            ,
                            <span>Обігрівачі</span>
                            ,
                            <span>Водонагрівачі</span>
                            ,
                            <span>Зволожувачі</span>
                            ,
                            <span>Котли</span>
                            ,
                            <span>Теплові насоси</span>
                            ,
                            <span>Радіатори</span>
                            ,
                            <span>Каміни</span>
                            ,
                            <span>Водопостачання та насоси</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>

            <!-- ! Child shop -->

            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Child-tovar/PushchairsIkids&toys.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Дитячі товари</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Візочки і коляски</span>
                            ,
                            <span>Ліжечка</span>
                            ,
                            <span>Сповивальні столики</span>
                            ,
                            <span>Стільчики для годування</span>
                            ,
                            <span>Підгузки</span>
                            ,
                            <span>Автокрісла</span>
                            ,
                            <span>Велосипеди</span>
                            ,
                            <span>Іграшки й розваги</span>
                            ,
                            <span>РК моделі</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>


            <!-- ! Cars and moto -->

            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/cars/TyresICars.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Авто та мото</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Шини</span>
                            ,
                            <span>Диски</span>
                            ,
                            <span>Відеореєстратори</span>
                            ,
                            <span>Акумулятори</span>
                            ,
                            <span>Автомастила</span>
                            ,
                            <span>Автокрісла</span>
                            ,
                            <span>Автобагажники</span>
                            ,
                            <span>Магнітоли і звук</span>
                            ,
                            <span>Мінімийки</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>

            <!-- ! Instrumant -->
            <div style="width: 300px; margin-right: 30px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Tools/Tools.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Інструменти</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Електроінструмент</span>
                            ,
                            <span>Генератори</span>
                            ,
                            <span>Зварювальні апарати</span>
                            ,
                            <span>Будівництво</span>
                            ,
                            <span>Ручний інстурмент</span>
                            ,
                            <span>Садова техніка</span>
                            ,
                            <span>Драбини</span>
                            ...
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- ! Line 4 -->

        <div>

            <!-- ! Turism -->
            <div style="width: 300px;">
                <div class="item-phone">
                
                    <div class="phone-img-it">
                        <img src="/header-list/Tourism/TentsITourism.svg" alt="">
                    </div>
                    
                    <div class="phone-info-it">
                        <div class="phone-logo-it cl-hov-or">
                            <h2 class="cl-hov-or">Туризм і риболовля</h2>
                        </div>
        
                        <div class="phone-min-info-it">
                            <span>Намети</span>
                            ,
                            <span>Спальні мішки</span>
                            ,
                            <span>Пальники</span>
                            ,
                            <span>Ліхтарики</span>
                            ,
                            <span>Термоси</span>
                            ,
                            <span>Вудилища</span>
                            ,
                            <span>Котушки</span>
                            ,
                            <span>Мангали й барбекю</span>
                            ...
                        </div>
                    </div>
                </div>
                <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
            </div>



        <!-- !  Sport and active chill -->
        <div style="width: 300px;">
            <div class="item-phone">
            
                <div class="phone-img-it">
                    <img src="/header-list/Sport/Bysicle.svg" alt="">
                </div>
                
                <div class="phone-info-it">
                    <div class="phone-logo-it cl-hov-or">
                        <h2 class="cl-hov-or">Спорт і активний відпочинок</h2>
                    </div>
    
                    <div class="phone-min-info-it">
                        <span>Велосипеди</span>
                        ,
                        <span>Ролики</span>
                        ,
                        <span>Самокати</span>
                        ,
                        <span>Гіроборди й моноколеса</span>
                        ,
                        <span>Скейтборди</span>
                        ,
                        <span>Тренажери</span>
                        ,
                        <span>Лижі</span>
                        ,
                        <span>Ковзани</span>
                        ,
                        <span>Action камери</span>
                        ,
                        <span>Спортхарчування</span>
                        ...
                    </div>
                </div>
            </div>
            <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
        </div>

        <!-- ! Home and repair -->

        <div style="width: 300px;">
            <div class="item-phone">
            
                <div class="phone-img-it">
                    <img src="/header-list/Home/FurnitureIhome.svg" alt="">
                </div>
                
                <div class="phone-info-it">
                    <div class="phone-logo-it cl-hov-or">
                        <h2 class="cl-hov-or">Дім і ремонт</h2>
                    </div>
    
                    <div class="phone-min-info-it">
                        <span>Сантехніка</span>
                        ,
                        <span>Ремонт</span>
                        ,
                        <span>Побутова техніка</span>
                        ,
                        <span>Посуд</span>
                        ,
                        <span>Меблі</span>
                        ,
                        <span>Матраци</span>
                        ,
                        <span>Декор</span>
                        ,
                        <span>Сигналізація та камери</span>
                        ,
                        <span>Автономне живлення</span>
                        ,
                        <span>Зоотовари</span>
                        ,
                        <span>Валізи</span>
                        ...
                    </div>
                </div>
            </div>
            <hr style="width: 270px; margin-top: 20px; opacity: 0.3;">
        </div>
        

        <!-- !O'clock, accessories -->

        <div style="width: 300px;">
            <div class="item-phone">
            
                <div class="phone-img-it">
                    <img src="/header-list/Fashion/Watch.svg" alt="">
                </div>
                
                <div class="phone-info-it">
                    <div class="phone-logo-it cl-hov-or">
                        <h2 class="cl-hov-or" href="">Годинники, прикраси й аксесуари</h2>
                    </div>
    
                    <div class="phone-min-info-it">
                        <span>Наручні годинники</span>
                        ,
                        <span>Смарт годинники</span>
                        ,
                        <span>Ювелірні прикраси</span>
                        ,
                        <span>Сувеніри</span>
                        ,
                        <span>Жіночі сумки</span>
                        ,
                        <span>Парасольки</span>
                        ,
                        <span>Валізи</span>
                        ,
                        <span>Сумки дорожні</span>
                        ...
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>