.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 40px;
}


.TabletAccessories {
    /* Планшети та аксесуари */
    width: 800px;
    height: 320px;
    grid-area: 1 / 3 / 3 / 5;
}

.Tablet {

    /* Планшети */
    width: 320px;
    height: 150px;
    grid-area: 2 / 3 / 3 / 5;
}

.TV {
    /* Телевизоры */
    width: 350px;
    height: 320px;
    grid-area: 1 / 2 / 2 / 2;
}

.Telephone {

    /* Мобільні телефони */
    width: 320px;
    height: 150px;
    grid-area: 2 / 2 / 3 / 3;
}

.Fridge {
    /* Холодильники */
    width: 314px;
    height: 150px;
    grid-area: 2 / 4 / 3 / 7;
}

@media (max-width:1488px) {
    .Fridge {
        width: 280px;

    }

    .TabletAccessories {
        width: 640px;
    }

}

@media (max-width:1300px) {
    .Fridge {
        width: 270px;
    }

    .Tablet {
        width: 270px;
    }

    .TabletAccessories {
        width: 580px;
    }

    .Telephone {
        width: 270px;
    }

}

@media (max-width:1200px) {
    .Fridge {
        width: 230px;
    }

    .Tablet {
        width: 230px;
    }

    .TabletAccessories {
        width: 520px;
    }

    .Telephone {
        width: 230px;
    }

}

@media (max-width:1112px) {
    .container-category {
        grid-template-columns: repeat(4, 1fr);
     
    }

}
@media (max-width:1034px) {
     .container-category{
        width: 1000px;
     }

}
@media (max-width: 900px) {
    .wrapper {
      display: block !important;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .container-category {
      grid-template-columns: 1fr;
      width: 100vw !important;
      max-width: 100vw !important;  
      padding-left: 12px !important;
      padding-right: 12px !important;
      box-sizing: border-box !important;
      margin: 0 !important;
      justify-items: center;
    }
    .TabletAccessories,
    .Tablet,
    .TV,
    .Telephone,
    .Fridge {
      grid-area: unset !important;
  
    }
    .Fridge {
        width: 400px;
        height: 220px; 
    }
    
    .Tablet {
        width: 400px;
        height: 220px;
    }
    
    .TabletAccessories {
        width: 400px;
        height: 220px;
    }
    
    .Telephone {
        width: 400px;
        height: 220px;
    }
    
    .TV {
        width: 400px;
        height: 300px;
    }
    
  }
  

  @media (max-width: 500px) {

    .Fridge {
        width: 300px;
        height: 150px; 
    }
    
    .Tablet {
        width: 300px;
        height: 150px;
    }
    
    .TabletAccessories {
        width: 300px;
        height: 150px;
    }
    
    .Telephone {
        width: 300px;
        height: 150px;
    }
    
    .TV {
        width: 300px;
        height: 230px;
    }
    
  }
  