.wrapper {
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.container-category {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(8, max-content);
    grid-template-rows: repeat(6, max-contetn);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.container-category app-card-category {
    height: fit-content;
    border: 1px dashed red;
}
.container-category app-card-category:nth-child(1) {
    grid-area: 1 / 4 / 4 / 9;
}
.container-category app-card-category:nth-child(2) {
    grid-area: 5 / 1 / 7 / 3;
}
.container-category app-card-category:nth-child(3) {
    grid-area: 1 / 1 / 4 / 3;
}
.container-category app-card-category:nth-child(4) {
    grid-area: 5 / 4 / 7 / 6;
}
.container-category app-card-category:nth-child(5) {
    grid-area: 5 / 7 / 7 / 9;
}
