.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 40px;
}


.TabletAccessories {
    /* Планшети та аксесуари */
    grid-area: 1 / 3 / 3 / 5;
}

.Tablet {
    /* Планшети */
    grid-area: 2 / 3 / 3 / 5;
}

.TV {
    /* Телевизоры */
    grid-area: 1 / 2 / 2 / 2;
}

.Telephone {
    /* Мобільні телефони */
    grid-area: 2 / 2 / 3 / 3;
}

.Fridge {
    /* Холодильники */
    grid-area: 2 / 4 / 3 / 7;
}


.container-category app-card-category {
    height: fit-content;
}