<div class="container">
    <h1>Створіть Свій Товар</h1>
    <form>
        <div>
            <p>Назва Товару</p>
            <input class="name-tovar" type="text">
        </div>
        <div>
            <p>Опис Товару</p>
            <textarea class="description-tovar" name="" id=""></textarea>
        </div>
        <div>
            <p>URL Товару</p>
            <input class="url-tovar" type="text">
        </div>
        <div>
            <p>Ціна Товару</p>
            <input class="price-tovar" type="text">
        </div>
    </form>
    <button>Додати</button>
</div>
