.modal-message {
    text-align: center;
    position: fixed;
    top: 40px;
    right: -400px;
    border-radius: 15px;
    transition: 0.5s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    width: fit-content;
}
.modal-message.show {
    background-color: rgb(238, 124, 124);
    right: 40px;
    
}

.modal-message.showAdd {
    background-color: rgb(147, 228, 80);
    right: 40px;
    
}