<div class="container-card">
    <div class="name-ram">
        <h1>Планшет Xiaomi Redmi Pad Pro</h1>
        <p>256ГБ / ОЗП 8 ГБ</p>
    </div>
    <div class="additional-actions">
        <button>ДЕ КУПИТИ</button>
        <button>ОПИС</button>
        <button>ХАРАКТЕРИСТИКИ</button>
        <button>ВІДГУКИ</button>
        <button>ПОСТАВИТИ ЗАПИТАННЯ</button>
        <button>АКСЕСУАРИ</button>
    </div>
    <div class="main-information">
        <div class="photo-tovar">
            <img src="https://s.ek.ua/jpg/2666265.jpg">
        </div>
        <div class="additional-photo">
            <img src="https://mzimg.com/120/h1/homb2fiveh1.jpg" alt="">
            <img src="https://mzimg.com/120/21/hqnxpv1uw21.jpg" alt="">
            <img src="https://mzimg.com/120/t1/homazggy7t1.jpg" alt="">
            <img src="https://mzimg.com/120/f1/hqnxpugjyf1.jpg" alt="">
            <img src="https://mzimg.com/120/81/hqnxpuhip81.jpg" alt="">
        </div>
    </div>
</div>