.main-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container-card {
    width: 1050px;
    position: relative;
}

.arrow-back {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -100px;
    top: 0;
    cursor: pointer;
}

.arrow-back img {
    width: 100%;
    height: 100%;
}

.name-ram {
    display: flex;
}

.name-ram h1 {
    margin: 0;
    color: var(--accent-color-blue)
}

.name-ram p {
    color: gray;
    font-weight: 900;
    margin-left: 5px;
}

.additional-actions button {
    padding: 10px 20px;
    border: 1px solid var(--scrollbar-color);
    background-color: white;
    color: gray;
}

.additional-actions button.selected {
    background-color: var(--accent-color-blue);
    color: white;
}

.main-information {
    display: flex;
    margin-top: 30px;
}

.additional-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    height: fit-content;
    margin-left: 20px;
}

.additional-photo img {
    width: 58px;
    height: 58px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 5px;
    object-fit: contain;
    cursor: pointer;

}
.photo-tovar img{
    width: 146px;
    height: 200px;
    object-fit: contain;
}
.price {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: var(--accent-color-orange);
}

.price div {
    font-size: 30px;
}

.price span {
    font-size: 30px;
    font-weight: 540;
}

.price button {
    background-color: var(--accent-color-orange);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.color-ram {
    display: flex;
    gap: 20px
}

.color-choose {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.color-choose div {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid black;
}

.color-choose div:hover {
    transform: scale(1.2);

}

.green {
    background-color: rgb(1, 167, 1);
}

.gray {
    background-color: rgb(92, 90, 90);
}

.lightblue {
    background-color: rgb(43, 189, 238);
}

.darkblue {
    background-color: rgb(77, 77, 233);
}

.black {
    background-color: rgb(0, 0, 0)
}

.blue {
    background-color: rgb(90, 90, 230);
}

.memory-ram {
    display: flex;
    border: 1px solid var(--accent-color-blue);
    border-radius: 5px;
    width: fit-content;
    gap: 15px;
    color: var(--scrollbar-color);
    height: 30px;

}

.memory-ram div:nth-child(1) {
    padding: 5px 10px 5px 15px;
}

.memory-ram div:last-child {
    padding: 5px 15px 5px 10px;
}

.memory-ram div {
    padding: 5px 10px;
    cursor: pointer;
}

.memory-ram div:hover {
    color: var(--accent-color-blue);
    background-color: rgba(128, 128, 128, 0.301);
}

.memory-ram .selected-f {
    outline: 2.9px solid var(--accent-color-orange);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.memory-ram .selected-l {
    outline: 2.9px solid var(--accent-color-orange);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.memory-ram .selected {
    outline: 2.9px solid var(--accent-color-orange);
    border-radius: 3px;
}

.info-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info {
    padding: 8px 15px;
    font-size: 12px;
    font-family: "Gill Sans", sans-serif;
    color: var(--accent-color-blue);
    border: 1px solid var(--accent-color-blue);
    cursor: pointer;
    border-radius: 7px;
}

.info:first-child:hover {
    color: var(--accent-color-orange)
}

.hr {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: 20px;
}

.comment-block {
    width: 1050px;
    margin-top: 20px;
}

.input-comment {
    display: flex;
    align-items: center;
}

.comment-area {
    width: 80%;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    height: 20px;
    border-radius: 5px;
    padding: 5px;

}

.comment-block button {
    background-color: var(--accent-color-orange);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 10px;
    padding: 8px 15px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
}

.comment-message {
  background-color: var(--form-bg-color);
  border-radius: 12px;
  padding: 16px;
  margin: 20px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: 0.5s;
  cursor: pointer;
}
.comment-message:hover{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}
.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
  border: 2px solid var(--accent-color-blue);
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  color: var(--text-color);
}

.timestamp {
  font-size: 0.85em;
  color: var(--scrollbar-color);
}

.comment-text p {
  margin: 0;
  font-size: 1em;
  color: var(--text-color);
  line-height: 1.5;
}

.cantFound img {
    width: 600px;
    height: 600px;

}

.cantFound {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-description{
    font-weight: bold;
    font-size: 20px;
}
.text-description{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.none {
    display: none;
}
@media (max-width:1220px) {
    .container-card{
        width: 950px;
    }
}
