.name-characteristics{
    font-size: 23px;
    color:var(--scrollbar-color);
    position: relative;
}
.name-characteristics::before{
    content: "";
    position: absolute;
    left:-10px;
    top:10px;
    background-color: var(--accent-color-orange);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.characteristics{
    font-size: 20px;
}