<div class="container-tovar">
    <div class="image-button-tovar">
        <div class="image-tovar">
            <img src="" alt="">
        </div>
        <div class="compare-button">
            <label for="compare-button">Порівняти</label>
            <input type="checkbox" id="compare-checkbox">
        </div>
    </div>
    <div class="name-statistic-tovar">
        <div class="name-characteristics-tovar">
            <h1 class="name-tovar">Xiaomi Redmi Pad Pro</h1>
            <p class="256ГБ/ОЗП 8ГБ"></p>
        </div>
        <div class="additional-info">
            <span class="additional-info-item">2024 рік</span>
            <span class="additional-info-item">120 Гц</span>
            <span class="additional-info-item">USB C</span>
            <span class="additional-info-item">Wi-Fi 6</span>
            <span class="additional-info-item">стереозвук</span>
            <span class="additional-info-item">Dolby Vision</span>
            <span class="additional-info-item">ємний акумулятор</span>
        </div>
        <div class="characteristics-tovar">
           
        </div>

    </div>

</div>