/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    height: 100vh;

    --accent-color-blue: #2c509a;
    --accent-color-orange: #ff8d02;
    --acent-color-orange-hover:#f09000;
    --scrollbar-color: #a8a8a8;
    --color-text: #cccccd;
    --accent-color-black: #202124;
    --opacity-color-gray:#dfdfdfd3
}

@font-face {
  font-family: "Proxima Soft";
  src: url("assets/ProximaSoftCond-Regular.woff") format("woff");
}
.error{
  color:red;
}
