.main-container{
    position: relative;
    height: 100%;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(1.5rem);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}
app-tovar-list{
    margin: 20px;
}
.flex-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
app-create-tovar{
    width: 40%;
}