.main-container{
    position: relative;
    height: 100%;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color:rgba(0,0,0,0.5)
}