<div class="list-category">
    <div class="list-category-container" (mouseover)="hoverToElemet($event)">
        <span class="Gadgets">Гаджети</span>
        <span class="Computers">Комп'ютери</span>
        <span class="photo">Фото</span>
        <span class="TV">TV</span>
        <span class="Audio">Аудіо</span>
        <span class="Home-technik">Побутова техніка</span>
        <span class="Climat">Клімат</span>
        <span class="Home">Дім</span>
        <span class="Child-tovar">Дитячі товари</span>
        <span class="Car">Авто</span>
        <span class="Tool">Інструмент</span>
        <span class="Tourism">Туризм</span>
        <span class="Sport">Спорт</span>
        <span class="Fashion">Мода та аксесуари</span>
    </div>
<div class="additionally-info"></div>
</div>


