.img-contanier{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    background: #FFFFFF;
}

.name {
    font-size: 16.5px;
    color:var(--accent-color-blue);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.price {
    color: var(--accent-color-orange);
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 16px;
  padding: 20px;
  justify-content: center;
}
.model-contanier {
  /* border: 1px solid #ccc; */
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: #fdfdfd;
  transition: transform 0.2s ease;


}

.model-contanier:hover .name {
    color: var(--accent-color-orange) ;
}
app-button-arrow {
    width: 75px;
    height: 75px;
}
app-button-arrow:hover {
    border-radius: black 1px solid;
    transform: scale(0.5);
}
.pagination-controls {
  margin-top: 20px;
  text-align: center; 
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; 
 
}
.pagination-controls img {
  width: 50px;
  height: 50px;
 
}
.pagination-controls button {
 background: none;
 border: transparent;
}
.arrow:hover {
  transform: scale(1.1);
}