<div class="product-grid">
  <div class="model-contanier" *ngFor="let product of products" (click)="openTovarPage(nameTovar)">

    <div class="img-contanier">
      <img [src]="product.img" alt="" class="image-tovar">
    </div>
    <span class="name" #nameTovar>{{product.name}}</span>
    <p class="price"> від {{ product.cost}} грн.</p>

  </div>
  <div class="filters">
    <input type="text" placeholder="what do you what to find" [ngClass]="{'none':show}" (input)="filteredItem($event)">
    <img src="./filter-svgrepo-com.svg" (click)="showInp()">
  </div>
</div>
<br>

<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Назад</button>
  <span>Сторінка {{ currentPage }}</span>
  <button (click)="nextPage()" [disabled]="nextPageLength === 0">Далі</button>
</div>