<footer>
    <img src="https://ek.ua/img/svg/ek-bottom-icon-2.svg" alt="" class="ek-img">
    <div class="about-project">
        <h3 class="title">Про проєкт</h3>
        <div class="list">
            <li>Як нам зателефонувати?</li>
            <li>Розміщення прайс-листів</li>
            <li>Магазинам</li>
            <li>Політика конфіденційності</li>
            <li>Запитання й бажання щодо сайту</li>
            <li>Популяризувати проєкт</li>
        </div>

    </div>
    <div class="another-country">
        <h3 class="title">Ми в інших країнах</h3>
        <div class="list">
            <li>Україна</li>
            <li>Велика Британія</li>
            <li>США</li>
            <li>Польща</li>
            <li>Казахстан</li>
        </div>
    </div>
    <div class="finded-error">
        Знайшли помилку на цій сторінці? Виділіть її та натисніть Ctrl+Enter.
        Або скористайтеся функцією "Повідомити про помилку в описі" під таблицею з параметрами конкретної моделі.
    </div>
    <div class="region">
        <h3 class="title">Ваш регіон</h3>

        <li>Україна, UA</li>
    </div>
</footer>